@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuario</li>
</ol>

<div class="card">

    <div class="card-header">
        <i class="fas fa-users m-0 "></i> Lista de usurios registrados
    </div>


    <div class="card-body">
        <div class=" row">
            <div class=" col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear nuevo usuario</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>


                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class=row>

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtnombre" >
                    </div>

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtapellido" >
                    </div>


                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="txtcorreo">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactvo" class="form-label">Actvo</label>
                        <select id="cboactvo" class="form-select" >
                            <option value="1">Si</option>
                            <option value="0">No</option>
                          
                        </select>
                    </div>

                   

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>

        var tabladata;

     

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("listarUsuarios", "Home")',
                type: "GET",
                dataType: "json"

            },
            "columns": [

                { "data": "Nombre" },
                { "data": "Apellido" },
                { "data": "Correo" },
                {
                    "data": "Actvo", "render": function (valor) {
                        if (valor) {

                            return '<span class="badge bg-success">Si</span '
                        } else {
                            return '<span class="badge bg-danger">No</span>'
                        }
                    }

                },
                {
                    "defaultContent": '<button type="button" class= "btn btn-primary btn-sm btn-editar" ><i class="fas fa-pen "></i></button> ' +
                        '<button type="button" class= "btn btn-danger btn-sm ms-2" ><i class="fas fa-trash "></i></button> ',

                    "orderable": false,
                    "searchable": false,
                    "width" : "90px"
                }




            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/2.3.5/i18n/es-ES.json"
            }





        });


        function abrirModal(json) {


            if (json != null) {

                $("#txtnombre").val(json.Nombre);
                $("#txtapellido").val(json.Apellido);
                $("#txtcorreo").val(json.Correo);
                $("#cboactvo").val(json.Actvo == true ? 1 : 0);



            }


            $("#FormModal").modal("show");


        }

        $("#tabla tbody").on("click", '.btn-editar', function () {

            var filaSeleccionada = $(this).closest("tr");

            var data = tabladata.row(filaSeleccionada).data();

            console.log(data)

            abrirModal(data)


            

        })



    </script>

}